<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.orange.yutongbus">

    <application
            android:name=".MyApp"
            android:allowBackup="true"
            android:icon="@mipmap/btn_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/btn_icon"
            android:supportsRtl="true"
            android:theme="@style/MainAppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="com.orange.tpms.ue.activity.MainActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>